USE [master]
GO
/****** Object:  Database [Monitoring_1]    Script Date: 13/01/2020 15:03:33 ******/
CREATE DATABASE [Monitoring_1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Monitoring_1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Monitoring_1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Monitoring_1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Monitoring_1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Monitoring_1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Monitoring_1]
GO
/****** Object:  User [monitoring1]    Script Date: 13/01/2020 15:03:33 ******/
CREATE USER [monitoring1] FOR LOGIN [monitoring1] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [monitoring1]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [monitoring1]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [monitoring1]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [monitoring1]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [monitoring1]
GO
ALTER ROLE [db_datareader] ADD MEMBER [monitoring1]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [monitoring1]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [monitoring1]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [monitoring1]
GO
/****** Object:  Table [dbo].[Capture]    Script Date: 13/01/2020 15:03:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Capture](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ComputerName] [nvarchar](50) NOT NULL,
	[CaptureDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Capture] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
